{% extends "base.html" %}

{% block content %}
	<div id="manage">
		<h1>Manage Your Account</h1>
		<form action="" method="POST">{% csrf_token %}
             {{ user_form.as_p }}
             {{ formset.management_form }}
             {{ formset.as_p }}
             <input type="submit" value="submit"/>
             <input type="hidden" name="next" value="{{ next }}" />
        </form>
 	</div>
{% endblock %}


