{% extends "base.html" %}

{% block content %}

{% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>

{% endif %}

<div id="login-form">
<h1>Login</h1>

<form method="post" action="{% url 'accounts:login' %}">
{% csrf_token %}
<p>
    {{ form.username.label_tag }}
</p>
{{ form.username }}
<p>
    {{ form.password.label_tag }}
</p>
{{ form.password }}

<input type="hidden" name="next" value="{{ next }}" />
{% if form.errors %}
<h5>Your username and password didn't match. Please try again.</h5>
<p id="submit" style="margin-top:23px"><input type="submit" value="login" /></p>
{% else %}
<p id="submit"><input type="submit" value="login" /></p>
{% endif %}
</form>
</div>

<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

{% endblock %}
