{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div id="sign-up">
  <h1>Create an account</h1>

  <form action="" method="post"> 
  {% csrf_token %}
      {{ form.as_p }}
      <div id="submit"><input type="submit" value="Create account"></div>
  </form>
</div>
{% endblock %}
