* {
	margin:0;
        padding:0;
}

html,body {
	background-color:#f3f3f3;
	width:100%;
	height:100%;
	font-family:Helvetica, sans-serif;
}

#header {
        height:152px;
        background-color:#ff1744;
        width:100%;
	margin-bottom:1.85%;
        box-shadow: 0px 2px 12px 2px #888888;
}

#header #logo h1 {
        line-height:110px;
        text-align:center;
        font-weight:lighter;
        font-size:50px;
        color:white;
}

#toolbar {
	margin:auto;
	height:40px;
	width:40%;
	background-color:#ff1744;
}

#toolbar div {
	padding-top:9px;
}

#toolbar #right {
	float:right;
}

#toolbar #left {
	float:left;
}

#toolbar li {
	display:inline-block;
	list-style: none;
}

#toolbar a {
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	font-size:18px;	
	color:white;
}

#toolbar a:hover {
	border-bottom:2px solid white;
}

#toolbar span {
	padding:10px 0;
	border-bottom:2px solid white;
}

.submission li {
	list-style: none;
}

.submission {
	margin-bottom:1%;
        margin-left:25%;
        mardin-right:25%;
        background-color:white;
        width:50%;
	height:150px;
        border-radius: 2px;
        box-shadow: 0px 1px 3px 0px #888888;
}

.submission #voting {
	margin-left:1%;
	height:120px;
	float: left;
}

.submission #voting a {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top:10%;
	text-decoration:none;
	color:white;
}

.submission #like {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	margin-top:12%;
	border-radius: 2px;
	width:50px;
	height:30px;
	background-color:#69f0ae;
}

.submission #like:hover {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	background-color:white;
        text-color:black;
        box-shadow: 0px 3px 5px 1px #888888;
}

.submission #like a:hover {
	color:black;
}

.submission #dislike {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	margin-top:12%;
	border-radius: 2px;
        width:50px;
        height:30px;
	background-color:#ff8a80 ;
}

.submission #dislike:hover {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        background-color:white;
        text-color:black;
        box-shadow: 0px 3px 5px 1px #888888;
}

.submission #dislike a:hover {
        color:black;
}

.submission #love {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	margin-top:12%;
	border-radius: 2px;
        width:50px;
        height:30px;
	background-color:#4caf50;
}

.submission #love:hover {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        background-color:white;
        text-color:black;
        box-shadow: 0px 3px 5px 1px #888888;
}

.submission #love a:hover {
        color:black;
}

.submission #hate {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	margin-top:12%;
	border-radius: 2px;
        width:50px;
        height:30px;
	background-color:#f44336;
}

.submission #hate:hover {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        background-color:white;
        text-color:black;
        box-shadow: 0px 3px 5px 1px #888888;
}

.submission #hate a:hover {
        color:black;
}

.submission #submission-info {
	margin-top:2.75%;
	padding-right:2.25%;
	float:right;
	width:87.25%;
	height:80px;
}

.submission #submission-info a {
	text-decoration:none;	
	font-size:18px;
	color:black;
}

.submission #submission-info span {
	color:#bdbdbd;
	font-size:15px;
}

.submission #submission-info a:hover {
	color:#ff1744;
}

.submission #submission-info #points {
	margin-top:10px;
}

.search {
        margin-bottom:1%;
        margin-left:25%;
        mardin-right:25%;
        background-color:white;
        width:50%;
        height:50px;
        border-radius: 2px;
        box-shadow: 0px 1px 3px 0px #888888;
}

.search input[type=text] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        /*display:block;*/
        margin-top:9px;
        margin-left:20px;
        /*margin-right:auto;*/
        padding: 0 10px;
        width: 70%;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

.search input[type=text]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

.search input[type=submit] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	margin-left:10px;
        width:20%;
        height: 29px;
        font-size: 12px;
        color: white;
        background-color:#ff1744;
        border:none;
        border-radius: 2px;
        outline:none;
}

.search input[type=submit]:hover {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        background-color:white;
        color:black;
        box-shadow: 0px 3px 5px 1px #888888;
}

#login-form{
	position:absolute;
	bottom:0px;
	left:30%;
	right:30%;
	background-color:white;
	width:40%;
	height:77%;
	border-radius: 2px;
	box-shadow: 0px 3px 5px 2px #888888;
}

#login-form h1 {
	margin-top:20px;
	margin-left:20px;
	color:#ff1744;
	font-size:40px;
        font-weight:lighter;
}

::-webkit-input-placeholder {
  	color: #ccc;
  	font-size: 15px;
}

#login-form p {
	margin-top:40px;
        margin-bottom:20px;
        margin-left:25.8%;
        color:black;
        font-size:15px;
}

#login-form h5 {
	font-weight:lighter;
	font-size: 15px;
	color:#ff1744;
	margin-top:20px;
	text-align: center;
}

#login-form input[type=text] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	display:block;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding: 0 10px;
	width: 278px;
	height: 30px;
	border:none;
	border-bottom:2px solid #ccc;
	font-size:15px;
}

#login-form input[type=password] {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	display:block;
	margin-top:0px;
        margin-left:auto;
        margin-right:auto;
	padding: 0 10px;
	width: 278px;
	height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
	font-size:15px;
}

#login-form input[type=text]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

#login-form input[type=password]:focus {
	outline:none;
	border-bottom:2px solid #ff1744;
}

#login-form  #submit {
	margin-top:60px;
	text-align: center;
	margin-left:-0%;
}

#sign-up{
        position:absolute;
        bottom:0px;
        left:30%;
        right:30%;
        background-color:white;
        width:40%;
        height:77%;
        border-radius: 2px;
        box-shadow: 0px 3px 5px 2px #888888;
}

#sign-up h1 {
        margin-top:20px;
        margin-left:20px;
        color:#ff1744;
        font-size:40px;
        font-weight:lighter;
}

::-webkit-input-placeholder {
        color: #ccc;
        font-size: 15px;
}

#sign-up input[type=text] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:20px;
	margin-bottom:10px;
        margin-left:-2.3%;
        margin-right:auto;
        padding: 0 10px;
        width: 278px;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

#sign-up input[type=password] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:20px;
	margin-bottom:10px;
        margin-left:-2.3%;
        margin-right:auto;
        padding: 0 10px;
        width: 278px;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

#sign-up input[type=text]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

#sign-up input[type=password]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

#sign-up p {
        margin-top:40px;
        margin-bottom:20px;
        margin-left:25.8%;
        color:black;
        font-size:15px;
}

#sign-up p span {
	margin-left:-2.3%;
	font-size:10px;
}

#sign-up #submit {
        margin-top:40px;
	margin-left:-0%;
        text-align: center;
}

#sign-up li {
        margin-top:3%;
        margin-bottom:-5%;
        margin-left:25.8%;
        list-style: none;
        color:#ff1744;
        font-weight:lighter;
        font-size:15px;
}

input[type=submit] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	width:20%;
	height: 29px;
  	font-size: 12px;
  	color: white;
  	background-color:#ff1744;
  	border:none;
	border-radius: 2px;
  	outline:none;
}

input[type=submit]:hover {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
	background-color:white;
	color:black;
	box-shadow: 0px 3px 5px 1px #888888;
}

#manage {
        position:absolute;
        bottom:0px;
        left:30%;
        right:30%;
	top:23%;
        background-color:white;
        width:40%;
        height:100%;
        border-radius: 2px;
        box-shadow: 0px 3px 5px 2px #888888;
}

#manage h1 {
        margin-top:20px;
        margin-left:20px;
        color:#ff1744;
        font-size:40px;
        font-weight:lighter;
}

#manage h2 {
        margin-top:40px;
	margin-bottom:40px;
        margin-left:20px;
        color:black;
        font-size:20px;
        font-weight:lighter;
}

#manage input[type=text] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:40px;
        margin-left:auto;
        margin-right:auto;
        padding: 0 10px;
        width: 278px;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

#manage input[type=password] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        padding: 0 10px;
        width: 278px;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

#manage input[type=text]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

#manage input[type=password]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

#manage p.submit {
        margin-top:40px;
        text-align: center;
}

.submit {
        position:absolute;
        bottom:0px;
        left:30%;
        right:30%;
        background-color:white;
        width:40%;
        height:77%;
        border-radius: 2px;
        box-shadow: 0px 3px 5px 2px #888888;
}

.submit input[type=text] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:20px;
        margin-left:-2.3%;
        margin-right:auto;
        padding: 0 10px;
        width: 278px;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

.submit h1 {
        margin-top:20px;
        margin-left:20px;
        color:#ff1744;
        font-size:40px;
        font-weight:lighter;
}

.submit p {
        margin-top:40px;
        margin-bottom:20px;
        margin-left:25.8%;
        color:black;
        font-size:15px;
        /*font-weight:lighter;*/
}

.submit input[type=text]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

.submit input[type=url] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:20px;
        margin-left:-2.3%;
        margin-right:auto;
        padding: 0 10px;
        width: 278px;
        height: 30px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

.submit input[type=url]:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

.submit textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        display:block;
        margin-top:20px;
        margin-left:-12.3%;
        margin-right:auto;
        padding: 0 10px;
        width: 378px;
        height: 65px;
        border:none;
        border-bottom:2px solid #ccc;
        font-size:15px;
}

.submit textarea:focus {
        outline:none;
        border-bottom:2px solid #ff1744;
}

.submit #submit {
        margin-top:40px;
        margin-left:-0%;
        text-align: center;
}

.submit li {
	margin-top:3%;
	margin-bottom:-5%;
	margin-left:25.8%;
        list-style: none;
        color:#ff1744;
        font-weight:lighter;
        font-size:15px;
} 
