{% extends "base.html" %}
{% load submission_extras %}

{% block head %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ PROJECT_PATH }}/static/js/commentvote.js"></script>

{% endblock head %}

{% block content %}

<div class='thread-title'><h2>{{thread.title}}</h2></div> 
<div class='thread-text'><h3>{{thread.text}}</h3></div>
<ol>
	{% for comment in comments %}
	<div class="submission">
		<li><div id="submission-info">
			<p class="comment">{{comment.text}}</p>
			<p class="comment-info">{{comment.points}} points by {{comment.author.username}} {{comment.created_at|age}}</p>
			</div>
		<div id="voting">
		{% if user.is_authenticated %}
				{% if comment in loved_comments %}
				<div id="like"><a href="voteLike/" id="comment-voteLike-{{ comment.id }}" class="voteLike">+1</a></div>
				<div id="dislike"><a href="voteDislike/" id="comment-voteDislike-{{ comment.id }}" class="voteDislike">-1</a></div>
				<div id="hate"><a href="voteHate/" id="comment-voteHate-{{ comment.id }}" class="voteHate">-3</a></div>
			{% elif comment in hated_comments %}
				<div id="like"><a href="voteLike/" id="comment-voteLike-{{ comment.id }}" class="voteLike">+1</a></div>
				<div id="dislike"><a href="voteDislike/" id="comment-voteDislike-{{ comment.id }}" class="voteDislike">-1</a></div>
				<div id="love"><a href="voteLove/" id="comment-voteLove-{{ comment.id }}" class="voteLove">+3</a></div>
			{% elif comment in liked_comments %}
				<div id="dislike"><a href="voteDislike/" id="comment-voteDislike-{{ comment.id }}" class="voteDislike">-1</a></div>
				<div id="love"><a href="voteLove/" id="comment-voteLove-{{ comment.id }}" class="voteLove">+3</a></div>
				<div id="hate"><a href="voteHate/" id="comment-voteHate-{{ comment.id }}" class="voteHate">-3</a></div>
			{% elif comment in disliked_comments %}
				<div id="hate"><a href="voteHate/" id="comment-voteHate-{{ comment.id }}" class="voteHate">-3</a></div>
				<div id="like"><a href="voteLike/" id="comment-voteLike-{{ comment.id }}" class="voteLike">+1</a></div>
				<div id="love"><a href="voteLove/" id="comment-voteLove-{{ comment.id }}" class="voteLove">+3</a></div>
			{% else %}
				<div id="love"><a href="voteLove/" id="comment-voteLove-{{ comment.id }}" class="voteLove">+3</a></div>
				<div id="hate"><a href="voteHate/" id="comment-voteHate-{{ comment.id }}" class="voteHate">-3</a></div>
				<div id="like"><a href="voteLike/" id="comment-voteLike-{{ comment.id }}" class="voteLike">+1</a></div>
				<div id="dislike"><a href="voteDislike/" id="comment-voteDislike-{{ comment.id }}" class="voteDislike">-1</a></div>
			{% endif %}
		{% endif %}
		</div>
		</li>
		</div>
	{% endfor %}
</ol>
	{% if user.is_authenticated %}
		<div class='add-comment-link'><a href="comment/">add comment</a></div>
	{% endif %} 
{% endblock content %}
