{% extends "base.html" %}

{% block content %}
    <div class="submit">
	<h1>Post</h1>
	<form action="/submission/" method="post">{% csrf_token %}
		{{ form.as_p }}
		<div id="submit"><input type="submit" value = "Submit" /></div>
	</form>
    </div>
{% endblock content %}
